._ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #222;
  color: #eee;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  z-index: 999;
}

.logo {
  height: 80px;
}

.title {
  font-size: 50px;
}
